<div class="col-lg-6" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
    <h1>{{titulo}}</h1>

    <div *ngIf="alertMessage">
        <div class="alert alert-info">
            {{alertMessage}}
        </div>
    </div>

    <form #formAlbum="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label>Título</label>
            <input type="text" #title="ngModel" name="title" [(ngModel)]="album.title" required class="form-control" />
            <span *ngIf="!title.valid && title.touched">El título es obligatorio</span>
        </p>
        <p>
            <label>Descripción</label>
            <textarea #desc="ngModel" name="desc" [(ngModel)]="album.desc" required class="form-control"></textarea>
            <span *ngIf="!desc.valid && desc.touched">La descripción es obligatoria</span>
        </p>

        <p>
            <label>Año</label>
            <input type="text" #year="ngModel" name="year" [(ngModel)]="album.year" required class="form-control" />
            <span *ngIf="!year.valid && year.touched">El año es obligatorio</span>
        </p>

        <div *ngIf="isEdit">
            <div class="albumImageForEdit" *ngIf="album.img && album.img != ''">
                <img src="{{url + 'get-image-album/' + album.img}}">
            </div>

            <p>
                <label>Sube la imagen del album</label>
                <input type="file" placeholder="Subir imagen..." (change)="fileChangeEvent($event)">
            </p>
        </div>

        <input type="submit" value="{{titulo}}" [disabled]="!formAlbum.form.valid" class="btn btn-success" />
    </form>
</div>

<div class="col-lg-6" *ngIf="!identity || identity.role != 'ROLE_ADMIN'">
    <h1>Error</h1>
    <p>No tienes acceso a esta parte de la aplicación</p>
</div>